{% extends "product/base.html" %}


{% block title %}New arrival{% endblock %}


{% block content %}
{% load static %}

<div class="container">
    <div id="content">
        <!-- New arrival -->
        {% if new_arrival %}
        <div class="row" id="product-row">
            {% for p in new_arrival %}
            <div class="col-sm-4">
                <div class="border" style="margin:5 auto;">
                    <a class="product" href="{{ p.get_absolute_url }}">
                        <img class="img-fluid" id="product-image"
                            {% if p.image %}
                            src="{{ p.image.url}}"/>
                            {% endif %}
                        <p style="margin-right:210px; margin-top:10px;">${{ p.price }}</p>
                        <p style="margin-top:-40px; margin-left:200px;">{{ p.name }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'product/product_pagination.html' with product=new_arrival %}
        {% endif %}
    </div>
</div>

{% endblock content %}