{% extends 'product/base.html' %}

{% block content %}

<div class="container">
    <div id="content">
        <!-- Search result -->
        <div class="container mt-3">
            <h4>Search result for "{{ query }}"</h4>
                {% for p in product %}
                <hr>
                
                    <div class="row" id="search-result">
                        <div class="col-sm-5">
                            <a href="{{ p.get_absolute_url }}"> 
                                <img class="img-fluid" src="{{ p.image.url }}" id="product-image"/>
                            </a>
                        </div>
                        <div class="col-sm-7 mt-5">
                            <a href="{{ p.get_absolute_url }}"> 
                                <p>{{ p.name }}</p>
                                <p>{{ p.price }}</p>
                            </a>
                        </div>
                    </div>
                
                {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}